/*This will stop the scrolling to the left or right of the viewport (extra padding/margin scrolling I had).
By applying it to html, affects the entire page, covering both the content area and any potential overflow caused by child element*/
html,
body {
  overflow-x: hidden;
}

.recipes {
  color: #fff;
  background-color: #0a2750;
  padding: 100px 80px 215px;
  overflow: visible;
  background-image: url(../images/background_recipes.svg);
  position: relative;
  background-size: cover;
}

.recipes__title {
  margin: 0 0 24px;
  max-width: 580px;
  gap: 80px;
  margin-top: 100px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes_subtitle {
  margin: 0 0 80px;
  max-width: 438px;
  gap: 80px;
  color: #fff;
  margin-top: 24px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 100px;
  list-style-type: none;
}

.recipes__video-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.recipes__videos-caption {
  display: flex;
  justify-content: space-between;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-top: 10px;
  text-align: center;
  color: #fff;
}

.recipes__video-item {
  width: 480px;
}

.recipes__iframe {
  display: block;
  border: none;
}
